.header-wrap {
  display: flex;
  width: 100%;
}

.header-wrap h2 {
  margin-left: 10px;
}

.header-wrap button {
  background-color: transparent;
  color: rgb(0, 162, 255);
  border: none;
  margin-left: auto;
  padding-right: 20px;
  transition: none;
  font-size: 15px;
  cursor: pointer;
}

.header-wrap button svg {
  margin-left: 3px;
}

.header-wrap button:hover {
  border: none;
  color: #535bf2;
}


.header-wrap button:focus,
.header-wrap button:focus-visible {
  outline: none;
}

/* TABLE DESIGNS */
.employee-table-wrap {
  margin: 1rem;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-family: Arial, sans-serif;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  thead tr {
    background-color: #f2f2f2;
    text-align: center;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Cell animation on hover */
  td {
    transition: transform 0.3s ease;
}

  td:hover {
      transform: scale(1.05);
    }

    .employee-table-wrap button {
      padding: 10px 15px;
      margin-top: 0;
      margin-bottom: 0;
      margin: 5px;
      border: 1px solid transparent;
      border-radius: 5px;
      cursor: pointer;
      font-size: 15px;
      gap: 10px;
      color: #213547;
    }
  
    .employee-table-wrap button:hover {
      border: 1px solid #0fa1f5;
      color: #0fa1f5;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border: 1px solid gray;
    }
    .employee-table-wrap button:active {
      border: 1px solid #310ff5;
      color: #310ff5;
    }

    .logout-button-wrap {
      display: flex;
      width: 100%;
    }

    .logout-button-wrap button {
      padding: 10px 15px;
      margin-left: auto;
      margin-right: 1rem;
      border: none;
      border-radius: 5px;
      font-size: 14px;
      font-weight: bold;
      background-color: transparent;
      color: #213547;
    }

    .logout-button-wrap button:hover,
    .logout-button-wrap svg:hover {
      transform: scale(1.05);
      color: #0fa1f5;
    }
    