
.db-wrap {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 2rem;
    align-items: center;
    text-align: center;  
}

.search-wrap {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 45%;
}

.generatedQR {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.qr-code {
    padding: 10px;
}

