.login-main-wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .login-form-container {
    background-color: aliceblue opacity rgba(0, 0, 0, 0.10);
    border-style: solid;
    border-width: 1px;
    padding: 20px;
    margin: 50px auto;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* text-align: center; */
    text-align: left;
  }
  
  .login-form-container h3 {
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #080808;
    border-top: #fff;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: lighter;
    background-color: #eeeff1;
  }
  
  .btn-login {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }
  
  .btn-login:hover {
    background-color: #45a049;
  }
  